
<div class="body">
    <div class="okvir">
        <div class="profile-div">
            <div class="profile-image-div"> </div>
            <div class="profile-info-div">
                <label class="lbl-ime">{{user.name}} {{user.surname}}</label>
                <label class="lbl-mail">{{user.email}}</label>
                <label class="lbl-mail">{{user.type}}</label>
                <label class="lbl-mail">Trenutni status: {{user.status}}</label>
                <label class="lbl-mail" *ngIf="user.workPlace">Radno mesto: {{user.workPlace}}</label>
            </div>
        </div>
    </div>
</div>
