<div class="bbody">
    <div class="ookvir">
        <div class="pretraga" >
            <div class="searchDiv">
                <input type="text" class="search form-control" placeholder="Pretrazite oglase po tipu korisnika koje traže" [(ngModel)]='inputFilter'/>
                <label class="filter-label"> Filtrirano po: {{ inputFilter }}</label>
            </div>
            <div class="korisnici" *ngIf='nizOglas && nizOglas.length'>
              <div *ngFor="let oglas of filteredNizOglas">
                <mat-card class="example-card">
                  <div class="oglas-content">
                      <mat-card-actions class="oglas-details">
                          <mat-card-title>{{oglas.name}}</mat-card-title>
                          <mat-card-subtitle>{{oglas.description}}</mat-card-subtitle>
                          <mat-card-subtitle>{{oglas.userType}} {{oglas.userCount}}</mat-card-subtitle>
                          <div class="oglas-buttons">
                              <button class="oglas-dugme" mat-button>Prijavi se</button>
                              <button class="oglas-dugme" mat-button>Odbij</button>
                          </div>
                      </mat-card-actions>
                      <div class="oglas-image" ></div>
                  </div>
                </mat-card>
              </div>
            </div>    
        </div> 
        
    </div>
</div>