.body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.okvir{
    margin: 20px 20px;
    background-color: rgba(28, 60, 68, 0.966);
    border-radius:5px;
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.pretraga{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.searchDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search{
    border-radius:3px;
    margin:10px;
    padding:10px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}

.filter-label{
    margin-left:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.781);
}

.korisnici{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.example-card {
    background-color:rgb(184, 157, 153);
    margin:10px;
    width: 280px;
    box-shadow: 0 5px 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.example-header-image {
    background-image: url('../../../assets/korisnik-profile.jpeg');
    background-size: cover;
  }

