<div class="body">
    <div class="okvir">
        <div class="profile-div">
            <div class="profile-image-div"> </div>
            <div class="profile-info-div">
                <label class="lbl-ime">{{name}}</label>
                <label class="lbl-mail">{{email}}</label>
                <label class="lbl-sertifikat">{{sertificate}}</label>
                <button class="create-event-btn" (click)="createNewEventClicked();">Napravi novi oglas</button>
            </div>
        </div>
        <mat-card *ngFor="let event of allEvents" class="example-card">
            <div class="oglas-content">
                <mat-card-actions class="oglas-details">
                    <mat-card-title>{{event.name}}</mat-card-title>
                    <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
                    <mat-card-subtitle>{{event.userType}}</mat-card-subtitle>
                    <mat-card-subtitle>{{event.userCount}}</mat-card-subtitle>
                    <div class="oglas-buttons">
                        <button class="oglas-dugme" mat-button (click)="onUpdateClick(event);">Izmeni</button>
                        <button class="oglas-dugme" mat-button (click)="onDeleteClick(event);">Obriši</button>
                    </div>
                </mat-card-actions>
                <div class="oglas-image" ></div>
            </div>
          </mat-card>
    </div>
</div>

<create-oglas *ngIf="displayEventModal" [isUpdating]="isUpdating"  (cancelClicked)='hideEventModal()'></create-oglas>
