<div class="body">
    <div class="okvir">
        <div class="profile-div">
            <div class="profile-image-div"> </div>
            <div class="profile-info-div">
                <label class="lbl-ime">Dragan Bjelogrlic</label>
                <label class="lbl-mail">bjela@gmail.com</label>
                <label class="lbl-sertifikat">Akademija umetnosti Beograd</label>
                <button class="create-event-btn" (click)="showOglasModal();">Napravi novi oglas</button>
            </div>
        </div>
    </div>
</div>

<create-oglas *ngIf="displayOglasModal"  (cancelClicked)='hideOglasModal()'></create-oglas>
