<div class="body">
    <div class="okvir">
        <div class="profile-div">
            <div class="profile-image-div"> </div>
            <div class="profile-info-div">
                <label class="lbl-ime">Dragan Bjelogrlic</label>
                <label class="lbl-mail">bjela@gmail.com</label>
                <label class="lbl-sertifikat">Akademija umetnosti Beograd</label>
                <button class="create-event-btn" (click)="showOglasModal();">Napravi novi oglas</button>
            </div>
        </div>
        <mat-card class="example-card">
            <div class="oglas-content">
                <mat-card-actions class="oglas-details">
                    <mat-card-title>Movie: Močvara</mat-card-title>
                    <mat-card-subtitle>film o blablabalbalablanlavndljenlaekakjdlafhajegbaoui</mat-card-subtitle>
                    <mat-card-subtitle>film o blablabalbalablanlavndljenlaekakjdlafhajegbaoui</mat-card-subtitle>
                    <mat-card-subtitle>film o blablabalbalablanlavndljenlaekakjdlafhajegbaoui</mat-card-subtitle>
                    <mat-card-subtitle>film o blablabalbalablanlavndljenlaekakjdlafhajegbaoui</mat-card-subtitle>
                    <div class="oglas-buttons">
                        <button class="oglas-dugme" mat-button>Izmeni</button>
                        <button class="oglas-dugme" mat-button>Obriši</button>
                    </div>
                </mat-card-actions>
                <div class="oglas-image" ></div>
            </div>
          </mat-card>
    </div>
</div>

<create-oglas *ngIf="displayOglasModal"  (cancelClicked)='hideOglasModal()'></create-oglas>
